nav{
    height: 75px;
    width: 100%;
    background-color:black;
    position: sticky;
    top: 0;

}
#article1{
    height: 75px;
    width: 90%;
    background-color: black;
    display: flex;
    margin: 0  auto;
    align-items: center;

}
div{
    color: white;
    flex: 1;
}
*{
    background-color: black;
}
#article2{
    height: 100px;
    width: 100%;
    background-color: white;
}